.card {
  box-sizing: border-box; /*hace que el borde y el padding se incluyan en las dimensiones totales del elemento, evitando que se expanda al agregar un borde.*/
  border: 0.1rem solid transparent; /* Borde inicial transparente */
  background-color: var(--contrast-light-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  width: 100%;
  max-width: 45rem;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.card:hover{
  border-color: rgb(18, 214, 214); /* Cambia solo el color del borde */
}

.title__card {
  font-size: var(--font-size-card-title);
  margin-bottom: 1rem;
}

.text__card {
  line-height: 1.2rem;
}

.post__card {
  background-color: var(--contrast-light-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  width: 100%;
  max-width: 25rem;
  padding: 1rem 2rem 2rem;
  box-sizing: border-box;
  margin-bottom: 2.25rem;
  border-top: 1rem solid;
}

.post-card__title {
  font-size: var(--font-size-card-post-title);
  font-weight: var(--font-card);
  margin-bottom: 1rem;
}

.post-card__body{
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 1.3rem;
}

.post-card__meta {
  line-height: 1.3rem;
}

.post-card--bienestar {
  border-color: var(--cor-categoria-bienestar);
}

.post-card--comportamiento {
  border-color: var(--cor-categoria-comportamiento);
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  margin-top: 25px;
}

@media (min-width: 900px) {
  .posts {
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
